body {
  margin: 0;
  padding: 0;
  height: 100px; 
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow-x: hidden;
  
}

.first {
  width: 70%;
  margin-top: 65px;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 2s ease-in-out;
}



.text {
  font-family: "Baskerville Old Face";
  font-size: 50px;
  width: 50%;
  position: relative;
  top: -25%;
  left: 90%;
}

.second {
  width: 100%;
  position: absolute;
  top: 110%;
  left: -20%;

}

.third {
  color: rebeccapurple;
  position: absolute;
  top: 400%;
  right: 40%;
  left: -20%;
}



.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(112, 10, 10, 0.459);
  height: 65px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;  
}

.hamburger {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-left: 10px;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: rgb(95, 50, 17);
  margin: 4px 0;
  transition: all 0.3s ease;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  position: fixed;  
  top: 60px;
  left: -250px;  
  width: 250px;  
  height: 14vh;  
  padding: 0;
  transition: all 0.3s ease;  
}



.hamburger:hover + .nav-links {
  left: 0;
  color: red solid 2px;
}

.nav-links li {
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid white;
}

.nav-links li a {
  display: block;
  padding: 15px;
  color:  rgb(95, 50, 17);
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

.nav-links li a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(165, 153, 131);
}



@media(min-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    position: static;
    width: auto;
  }

  .navbar:hover .nav-links {
    display: flex;
  }

  .nav-links li {
    border: none;
  }

  .nav-links li a {
    padding: 20px;
  }
}


.menu1 {
  background-color: rgba(212, 201, 201, 0.568);
  width: 30%;
  margin: auto;
  border-radius: 40px;
  font-size: 20px;
  position: absolute;
  top: 113%;
  left: 35%;
}


.h1 {
  text-align: center;
}

.makanan {
  width: 40%;
  background-color: red;
}

.nama {
  display: flex;
  flex-direction: row;
  justify-content: right;
  float: right;
  margin-top: 40px;
}

.next{
  text-decoration: none;
  position: absolute;
  top: 224%;
  left: 97%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  background-color: black;
  padding: 4px 20px;
  border-radius: 40px;
}

.pre{
  text-decoration: none;
  position: absolute;
  top: 207%;
  right: 93%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px 20px;
  border-radius: 40px;
}

.next:hover, .pre:hover {
  background-color: blue;
  cursor: pointer;
}

.slider-container {
  position: relative;
  overflow: hidden;
  max-width: 800px;
  border-radius: 10px;
}

.slider {
  display: flex;
  transition: 1ms ease-in-out;
}

.gambar {
  min-width: 100%;
  opacity: 0;
  transition: opacity 1ms ease-in-out;
}

.gambar.active {
  display: block;
  margin-top: 14ch;
  opacity: 1;
}

.h2 {
  font-size: 60px;
  font-family: "Brush Script MT";
  text-align: left;
  position: relative;
  left: 7%;
  
}

.p {
  width: 50%;
  text-align: left;
  font-size: 25px;
  font-family: Georgia;
  position: relative;
  left: 4%;
}